/* MAIN CONTAINER */
#main-container {
  margin: 0 auto;
  width: 1280px;
}

#header-container {
  margin: 0  0 20px 0;
  height: 30px;
}

.section-container {
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
}

/* LEFT SECTION CONTAINER */
#left-container {
  width: 896px;
}

#main-content-container {
  width: 886px;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #000000;
  border-width: thin;
  border-style:solid;
}

/* RIGHT SECTION CONTAINER */
#right-container {
  width: 356px;
}

#server-side-wt-container {
  width: 896px;
  height: 200px;
}

#server-side-tabs-container {
  width: 356px;
  height: 220px;
}
#server-side-wt-content-container {
  width: 356px;
  height: 190px;
}
#web-security-container {
  width: 356px;
  height: 200px;
}

#web-security-content-container {
  border-color: black;
  border-width: thick;
  border-style: dotted;
  width: 356px;
  height: 160px;
}
#profile-access-container {
  width: 356px;
  height: 200px;
}

#profile-access-content-container {
  border-color: black;
  border-width: thick;
  border-style: dotted;
  width: 256px;
  height: 160px;
}

#space-container {
  width: 640px;
  height: 120px;
}

.navtab-container {
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
}

#jsv-tab {
  width: 200px;
  height: 120px;
  margin: 5px;
  border-color: #000000;
  border-width: thin;
  border-style:solid;
  background-color: rgba(255, 128, 0, 0.5);
}

#asp-tab {
  width: 120px;
  height: 120px;
  margin: 5px;
  border-color: #000000;
  border-width: thin;
  border-style:solid;
  background-color: rgba(255, 0, 0, 0.5);
}

#njs-tab {
  width: 332px;
  height: 50px;
  margin: 5px;
  border-color: #000000;
  border-width: thin;
  border-style:solid;
  background-color: rgba(102, 204, 0, 0.5);
}

